@import '../../util/colors.scss';

.SearchForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	input {
		height: 40px;
		border: 0;
		border-radius: 5px;
		padding-left: 15px;
		font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
		width: 350px;
		color: $body-copy-color;
		&:focus {
			outline: transparent;
		}
  }
  
  input[type='submit'] {
    color: white;
    padding: 0;
    background-color: $main-color;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-color: lighten($color: $main-color, $amount: 5)
		}
  }
}