.RestaurantPage {
	background-color: white;
	padding: 25px;
	min-height: calc(100vh - 60px);
	& h2 {
		margin-top: 0;
	}

	& ul {
		list-style: none;
		padding: 0;
		border-bottom: 1px solid lightgrey;

		& li {
			padding: 20px;
			border-top: 1px solid lightgrey;

			& a {
				text-decoration: none;
				color: inherit
			}
		}
	}
}

.RestaurantPage-review-text {
	font-style: italic;
	font-weight: 300;
}

.yelp-link {
	background: url('../../util/images/yelp-logo.png');
	background-color: #d32323;
	background-size: cover;
	background-position: center;
	color: white;
	font-weight: 600;
	padding: 15px 50px;
	border-radius: 5px;
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
}

.RestaurantPage-flex-wrapper {
	display: flex;
	justify-content: flex-start;

	& img {
		height: 400px;
		width: 400px;
		object-fit: cover;
		object-position: center;
	}

	& > div {
		margin-left: 50px;
		position: relative;
	}
}
